In [2]:
import pandas as pd
import matplotlib.pyplot as plt

bikes_df = pd.read_json('../podatki/kolesa.json')
stations_df = pd.read_json('../podatki/postajalisca.json')
users_df = pd.read_json('../podatki/uporabniki.json')
#df4 = pd.read_json('.././izposoja.json')
bikes_df
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)

In [7]:
stations_df

,ime,naslov,latitude,longitude,kolesaArray
0,GOSPOSVETSKA C. - TURNERJEVA UL.,Gosposvetska cesta 69,46.562739,15.629261,"[K001, K002, K003, K004, K005, K006, K007, K00..."
1,LIDL - KOROŠKA C.,Koroška cesta 173,46.565550,15.623115,"[K012, K013, K014, K015, K016, K017, K018, K01..."
2,KOROŠKA C. - KOROŠKI VETER,Koroška cesta 74,46.559605,15.635048,[K023]
3,GOSPOSVETSKA C. - VRBANSKA C.,Gosposvetska cesta 20,46.559313,15.636839,"[K024, K025, K026, K027, K028, K029, K030, K03..."
4,GOSPOSVETSKA C. - III. GIMNAZIJA,Gosposvetska cesta 4,46.560758,15.640460,"[K034, K035, K036, K037, K038, K039, K040, K04..."
5,STROSSMAYERJEVA UL. - TRŽNICA,Strossmayerjeva ulica 3,46.558511,15.641430,"[K045, K046, K047, K048, K049, K050, K051, K05..."
6,POŠTA - SLOMŠKOV TRG,Slomškov trg 10,46.558877,15.644449,"[K056, K057, K058, K059, K060, K061, K062, K06..."
7,MLADINSKA UL. - TRUBARJEVA UL.,Mladinska ulica 15,46.562957,15.644118,"[K067, K068, K069, K070, K071, K072, K073, K07..."
8,TELEMACH - GLAVNI TRG - STARI PERON,Glavni trg 20,46.557309,15.646944,"[K078, K079, K080, K081, K082, K083, K084, K08..."
9,NKBM - TRG LEONA ŠTUKLJA,Ulica slovenske osamosvojitve 5,46.558525,15.649086,"[K089, K090, K091, K092, K093, K094, K095, K09..."
10,PARTIZANSKA C. - TIC,Partizanska cesta 6a,46.560214,15.650788,"[K100, K101, K102, K103, K104, K105, K106, K10..."
11,RAZLAGOVA UL. - OBČINA,Razlagova ulica 1,46.562011,15.650269,"[K111, K112, K113, K114, K115, K116, K117, K11..."
12,PARTIZANSKA C. - CANKARJEVA UL,Partizanska cesta 13,46.560520,15.653058,"[K122, K123, K124, K125, K126, K127, K128, K12..."
13,MLINSKA UL . - AVTOBUSNA POSTAJA,Mlinska ulica 24,46.558428,15.654662,"[K133, K134, K135, K136, K137, K138, K139, K14..."
14,PARTIZANSKA C. - ŽELEZNIŠKA POSTAJA,Partizanska cesta 46,46.561618,15.656958,"[K144, K145, K146, K147, K148, K149, K150]"

In [8]:

    
stations_df['kolesaArray'].values

array([list(['K001', 'K002', 'K003', 'K004', 'K005', 'K006', 'K007', 'K008', 'K009', 'K010', 'K011']),
       list(['K012', 'K013', 'K014', 'K015', 'K016', 'K017', 'K018', 'K019', 'K020', 'K021', 'K022']),
       list(['K023']),
       list(['K024', 'K025', 'K026', 'K027', 'K028', 'K029', 'K030', 'K031', 'K032', 'K033']),
       list(['K034', 'K035', 'K036', 'K037', 'K038', 'K039', 'K040', 'K041', 'K042', 'K043', 'K044']),
       list(['K045', 'K046', 'K047', 'K048', 'K049', 'K050', 'K051', 'K052', 'K053', 'K054', 'K055']),
       list(['K056', 'K057', 'K058', 'K059', 'K060', 'K061', 'K062', 'K063', 'K064', 'K065', 'K066']),
       list(['K067', 'K068', 'K069', 'K070', 'K071', 'K072', 'K073', 'K074', 'K075', 'K076', 'K077']),
       list(['K078', 'K079', 'K080', 'K081', 'K082', 'K083', 'K084', 'K085', 'K086', 'K087', 'K088']),
       list(['K089', 'K090', 'K091', 'K092', 'K093', 'K094', 'K095', 'K096', 'K097', 'K098', 'K099']),
       list(['K100', 'K101', 'K102', 'K103', 'K104', 'K105', 'K106', 'K107', 'K108', 'K109', 'K110']),
       list(['K111', 'K112', 'K113', 'K114', 'K115', 'K116', 'K117', 'K118', 'K119', 'K120', 'K121']),
       list(['K122', 'K123', 'K124', 'K125', 'K126', 'K127', 'K128', 'K129', 'K130', 'K131', 'K132']),
       list(['K133', 'K134', 'K135', 'K136', 'K137', 'K138', 'K139', 'K140', 'K141', 'K142', 'K143']),
       list(['K144', 'K145', 'K146', 'K147', 'K148', 'K149', 'K150'])],
      dtype=object)

In [9]:
users_df

,ime,priimek,email,geslo,datumRojstva,logsArray
0,John,Doe,john.doe@example.com,password1,1990-01-01,[]
1,Jane,Smith,jane.smith@example.com,password2,1992-03-15,[]
2,Mark,Johnson,mark.johnson@example.com,password3,1985-07-20,[]
3,Emily,Brown,emily.brown@example.com,password4,1998-11-10,[]
4,Michael,Davis,michael.davis@example.com,password5,1995-05-05,[]
5,Emma,Wilson,emma.wilson@example.com,password6,1993-09-30,[]
6,David,Miller,david.miller@example.com,password7,1988-12-25,[]
7,Olivia,Taylor,olivia.taylor@example.com,password8,1991-04-18,[]
8,Daniel,Anderson,daniel.anderson@example.com,password9,1987-06-08,[]
9,Sophia,Thomas,sophia.thomas@example.com,password10,1994-02-12,[]

In [10]:
import numpy as np
np.random.choice(users_df.index)

0

In [12]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# Ustvarimo prazen DataFrame za izposoje
rentals_df = pd.DataFrame(columns=['rental_id', 'start_date', 'end_date', 'start_station_id', 'end_station_id', 'bike_id', 'user', 'duration','trenutna_zasedenost_start','trenutna_zasedenost_end', 'weather'])

# Število izposoj, ki jih želimo generirati
n_rentals = 100

# Generiranje naključnih izposoj
for day in pd.date_range(start='2022-01-01', end='2022-12-31', freq='D'):
    datum = day.date()

    for i in range(n_rentals):
        zacetek = timedelta(hours=np.random.randint(0, 22), minutes=np.random.randint(1, 60), seconds=np.random.randint(1, 60))
        konec = zacetek + timedelta(minutes=np.random.randint(10, 50))
        rental_id = i
        start_date = datetime.combine(datum, datetime.min.time()) + zacetek
        end_date = datetime.combine(datum, datetime.min.time()) + konec
        start_station_id = np.random.choice(stations_df.index)

        # Check if kolesaArray is empty for start_station_id
        while len(stations_df.loc[start_station_id, 'kolesaArray']) == 0:
            start_station_id = np.random.choice(stations_df.index)

        end_station_id = np.random.choice(stations_df.index)

        # Check if kolesaArray has enough capacity for end_station_id
        while len(stations_df.loc[end_station_id, 'kolesaArray']) >= 21:
            end_station_id = np.random.choice(stations_df.index)

        bike_id = np.random.choice(stations_df.loc[start_station_id, 'kolesaArray'])
        stations_df.at[start_station_id, 'kolesaArray'].remove(bike_id)
        member_id = np.random.choice(users_df.index)
        member_type = 'Member'
        duration = end_date - start_date        
        weather = 'Sončno'
        #start_date = datetime.strptime(start_date, '%Y-%m-%d %H:%M:%S')

        # Update kolesaArray in end_station
        stations_df.at[end_station_id, 'kolesaArray'].append(bike_id)

        # Calculate the current occupancy of the end station
        trenutna_zasedenost_start = len(stations_df.loc[start_station_id, 'kolesaArray'])
        trenutna_zasedenost_end = len(stations_df.loc[end_station_id, 'kolesaArray'])

        rentals_df.loc[len(rentals_df)] = [rental_id, start_date, end_date, start_station_id, end_station_id, bike_id, member_id, duration, trenutna_zasedenost_start, trenutna_zasedenost_end, weather]
# Črpamo podatke iz DataFrame postajališča za start_station in end_station
rentals_df = rentals_df.merge(stations_df[['ime']], left_on='start_station_id', right_index=True)
rentals_df = rentals_df.rename(columns={'ime': 'start_station'})
rentals_df = rentals_df.merge(stations_df[['ime']], left_on='end_station_id', right_index=True)
rentals_df = rentals_df.rename(columns={'ime': 'end_station'})

# Prikaz podatkovne strukture za izposojo koles
ordered_df = rentals_df.sort_values(by='start_date', ascending=True)
ordered_df

,rental_id,start_date,end_date,start_station_id,end_station_id,bike_id,user,duration,trenutna_zasedenost_start,trenutna_zasedenost_end,weather,start_station,end_station
55,55,2022-01-01 00:09:48,2022-01-01 00:33:48,6,3,K020,0,0 days 00:24:00,8,21,Sončno,POŠTA - SLOMŠKOV TRG,GOSPOSVETSKA C. - VRBANSKA C.
42,42,2022-01-01 01:14:32,2022-01-01 01:33:32,14,6,K147,5,0 days 00:19:00,10,9,Sončno,PARTIZANSKA C. - ŽELEZNIŠKA POSTAJA,POŠTA - SLOMŠKOV TRG
1,1,2022-01-01 01:20:56,2022-01-01 01:41:56,12,7,K019,8,0 days 00:21:00,18,4,Sončno,PARTIZANSKA C. - CANKARJEVA UL,MLADINSKA UL. - TRUBARJEVA UL.
21,21,2022-01-01 01:28:16,2022-01-01 01:59:16,14,4,K107,3,0 days 00:31:00,11,4,Sončno,PARTIZANSKA C. - ŽELEZNIŠKA POSTAJA,GOSPOSVETSKA C. - III. GIMNAZIJA
37,37,2022-01-01 01:39:39,2022-01-01 01:51:39,8,11,K010,6,0 days 00:12:00,4,7,Sončno,TELEMACH - GLAVNI TRG - STARI PERON,RAZLAGOVA UL. - OBČINA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36430,30,2022-12-31 21:15:55,2022-12-31 22:01:55,13,14,K090,8,0 days 00:46:00,14,18,Sončno,MLINSKA UL . - AVTOBUSNA POSTAJA,PARTIZANSKA C. - ŽELEZNIŠKA POSTAJA
36427,27,2022-12-31 21:16:52,2022-12-31 21:39:52,2,12,K120,3,0 days 00:23:00,14,2,Sončno,KOROŠKA C. - KOROŠKI VETER,PARTIZANSKA C. - CANKARJEVA UL
36432,32,2022-12-31 21:33:54,2022-12-31 22:18:54,12,8,K120,4,0 days 00:45:00,1,11,Sončno,PARTIZANSKA C. - CANKARJEVA UL,TELEMACH - GLAVNI TRG - STARI PERON
36425,25,2022-12-31 21:45:07,2022-12-31 22:25:07,6,4,K028,4,0 days 00:40:00,18,9,Sončno,POŠTA - SLOMŠKOV TRG,GOSPOSVETSKA C. - III. GIMNAZIJA
36431,31,2022-12-31 21:46:48,2022-12-31 22:26:48,10,7,K083,1,0 days 00:40:00,4,11,Sončno,PARTIZANSKA C. - TIC,MLADINSKA UL. - TRUBARJEVA UL.

In [13]:
for i in range(0, len(stations_df['kolesaArray'])):
    print(str(len(stations_df['kolesaArray'].values[i])))
ordered_df.to_json('orderd_izposoje.json', orient='records',  force_ascii=False,)

8
5
10
0
9
8
17
12
13
18
5
15
4
14
12

In [14]:
stations_df

,ime,naslov,latitude,longitude,kolesaArray
0,GOSPOSVETSKA C. - TURNERJEVA UL.,Gosposvetska cesta 69,46.562739,15.629261,"[K098, K048, K021, K084, K118, K131, K030, K116]"
1,LIDL - KOROŠKA C.,Koroška cesta 173,46.565550,15.623115,"[K071, K036, K050, K035, K114]"
2,KOROŠKA C. - KOROŠKI VETER,Koroška cesta 74,46.559605,15.635048,"[K017, K008, K075, K042, K099, K049, K011, K02..."
3,GOSPOSVETSKA C. - VRBANSKA C.,Gosposvetska cesta 20,46.559313,15.636839,[]
4,GOSPOSVETSKA C. - III. GIMNAZIJA,Gosposvetska cesta 4,46.560758,15.640460,"[K105, K014, K068, K009, K052, K016, K087, K02..."
5,STROSSMAYERJEVA UL. - TRŽNICA,Strossmayerjeva ulica 3,46.558511,15.641430,"[K076, K037, K057, K041, K149, K039, K077, K133]"
6,POŠTA - SLOMŠKOV TRG,Slomškov trg 10,46.558877,15.644449,"[K102, K089, K125, K046, K040, K002, K019, K13..."
7,MLADINSKA UL. - TRUBARJEVA UL.,Mladinska ulica 15,46.562957,15.644118,"[K088, K043, K094, K110, K001, K058, K083, K01..."
8,TELEMACH - GLAVNI TRG - STARI PERON,Glavni trg 20,46.557309,15.646944,"[K045, K074, K115, K032, K056, K025, K062, K03..."
9,NKBM - TRG LEONA ŠTUKLJA,Ulica slovenske osamosvojitve 5,46.558525,15.649086,"[K066, K061, K142, K078, K144, K086, K091, K06..."
10,PARTIZANSKA C. - TIC,Partizanska cesta 6a,46.560214,15.650788,"[K095, K003, K148, K031, K029]"
11,RAZLAGOVA UL. - OBČINA,Razlagova ulica 1,46.562011,15.650269,"[K139, K150, K106, K141, K145, K123, K007, K03..."
12,PARTIZANSKA C. - CANKARJEVA UL,Partizanska cesta 13,46.560520,15.653058,"[K147, K132, K026, K100]"
13,MLINSKA UL . - AVTOBUSNA POSTAJA,Mlinska ulica 24,46.558428,15.654662,"[K072, K005, K053, K006, K092, K107, K085, K10..."
14,PARTIZANSKA C. - ŽELEZNIŠKA POSTAJA,Partizanska cesta 46,46.561618,15.656958,"[K143, K111, K117, K082, K010, K051, K129, K12..."

In [3]:
import pandas as pd
from datetime import datetime, timedelta

# Določimo začetni in končni datum v letu 2023
start_date = datetime(2022, 1, 1, 6,0,0)
end_date = datetime(2022, 12, 31)

# Ustvarimo seznam vseh ur v letu 2023
hours = pd.date_range(start=start_date, end=end_date, freq='H')

# Ustvarimo seznam vseh postaj iz DataFramea 'stations_df'
stations = stations_df['ime'].tolist()

# Ustvarimo prazen DataFrame za zapis imen postaj za vsako uro
df = pd.DataFrame(columns=['date', 'station', 'zasedenost'])

# Iteriramo skozi vsako uro
for hour in hours:
    # Ustvarimo DataFrame z imeni postaj za trenutno uro
    hour_df = pd.DataFrame({'date': [hour] * len(stations), 'station': stations})
    
    # Dodamo trenutni DataFrame v celoten DataFrame
    df = df.append(hour_df, ignore_index=True)


df

C:\Users\PC\AppData\Local\Temp\ipykernel_38612\2346566562.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(hour_df, ignore_index=True)

                       date                              station zasedenost
0       2022-01-01 06:00:00     GOSPOSVETSKA C. - TURNERJEVA UL.        NaN
1       2022-01-01 06:00:00                    LIDL - KOROŠKA C.        NaN
2       2022-01-01 06:00:00           KOROŠKA C. - KOROŠKI VETER        NaN
3       2022-01-01 06:00:00        GOSPOSVETSKA C. - VRBANSKA C.        NaN
4       2022-01-01 06:00:00     GOSPOSVETSKA C. - III. GIMNAZIJA        NaN
...                     ...                                  ...        ...
130960  2022-12-31 00:00:00                 PARTIZANSKA C. - TIC        NaN
130961  2022-12-31 00:00:00               RAZLAGOVA UL. - OBČINA        NaN
130962  2022-12-31 00:00:00       PARTIZANSKA C. - CANKARJEVA UL        NaN
130963  2022-12-31 00:00:00     MLINSKA UL . - AVTOBUSNA POSTAJA        NaN
130964  2022-12-31 00:00:00  PARTIZANSKA C. - ŽELEZNIŠKA POSTAJA        NaN

[130965 rows x 3 columns]

In [16]:
df.to_json('datumi_postaj.json', orient='records',  force_ascii=False,)

In [18]:
from datetime import datetime
date_format = "%Y-%m-%d %H:%M:%S"

for index, row in ordered_df.iterrows():
    start_date = row['start_date']
    end_date = row['end_date']
    start_station = row['start_station']
    end_station = row['end_station']
    trenutna_zasedenost_start = row['trenutna_zasedenost_start']
    trenutna_zasedenost_end = row['trenutna_zasedenost_end']
    
    #print(station)
    #print(date)
    df.loc[(df['date'] > start_date) & (df['station'] == start_station), 'zasedenost'] = trenutna_zasedenost_start
    df.loc[(df['date'] > end_date) & (df['station'] == end_station), 'zasedenost'] = trenutna_zasedenost_end
    
    '''
    if(start_date < date and start_station == station):
        print(station)
        print(date)
        print(trenutna_zasedenost_start)
        df['zasedenost'] = trenutna_zasedenost_start
        df.loc[(df['date'] == date) & (df['station'] == station), 'zasedenost'] = trenutna_zasedenost_start
    if(datetime.strptime(end_date, date_format) < date and end_station == station):
       df.loc[(df['date'] == date) & (df['station'] == station), 'zasedenost'] = trenutna_zasedenost_end
    '''



#pd.set_option('display.max_rows', None)  -- TO JE DA PRIKAZE CELO ZBIRKOž
pd.set_option('display.max_rows', 50)


df

                       date                              station zasedenost
0       2022-02-01 06:00:00     GOSPOSVETSKA C. - TURNERJEVA UL.          0
1       2022-02-01 06:00:00                    LIDL - KOROŠKA C.         21
2       2022-02-01 06:00:00           KOROŠKA C. - KOROŠKI VETER          9
3       2022-02-01 06:00:00        GOSPOSVETSKA C. - VRBANSKA C.         10
4       2022-02-01 06:00:00     GOSPOSVETSKA C. - III. GIMNAZIJA         16
...                     ...                                  ...        ...
119800  2022-12-31 00:00:00                 PARTIZANSKA C. - TIC          4
119801  2022-12-31 00:00:00               RAZLAGOVA UL. - OBČINA         19
119802  2022-12-31 00:00:00       PARTIZANSKA C. - CANKARJEVA UL          2
119803  2022-12-31 00:00:00     MLINSKA UL . - AVTOBUSNA POSTAJA         14
119804  2022-12-31 00:00:00  PARTIZANSKA C. - ŽELEZNIŠKA POSTAJA         15

[119805 rows x 3 columns]

In [ ]:
df['zasedenost'] = df['zasedenost'].fillna(0)

df

                      date                              station  zasedenost
0      2023-01-01 06:00:00     GOSPOSVETSKA C. - TURNERJEVA UL.           0
1      2023-01-01 06:00:00                    LIDL - KOROŠKA C.           4
2      2023-01-01 06:00:00           KOROŠKA C. - KOROŠKI VETER           0
3      2023-01-01 06:00:00        GOSPOSVETSKA C. - VRBANSKA C.          12
4      2023-01-01 06:00:00     GOSPOSVETSKA C. - III. GIMNAZIJA           0
...                    ...                                  ...         ...
19720  2023-02-25 00:00:00                 PARTIZANSKA C. - TIC           1
19721  2023-02-25 00:00:00               RAZLAGOVA UL. - OBČINA          20
19722  2023-02-25 00:00:00       PARTIZANSKA C. - CANKARJEVA UL          20
19723  2023-02-25 00:00:00     MLINSKA UL . - AVTOBUSNA POSTAJA          19
19724  2023-02-25 00:00:00  PARTIZANSKA C. - ŽELEZNIŠKA POSTAJA           1

[19725 rows x 3 columns]

In [ ]:
#df.to_json('zasedenost.json', orient='records',  force_ascii=False,)
#stations_df.to_json('postajalisca.json', orient='records',  force_ascii=False,)
#rentals_df.to_json('izposoje.json', orient='records',  force_ascii=False,)

In [ ]:
#df['naPostajaliscu'] = df['zasedenost'].astype(str)+ "/" + "22"
#df

,date,station,zasedenost,naPostajaliscu
0,2023-01-01 06:00:00,GOSPOSVETSKA C. - TURNERJEVA UL.,0,0/22
1,2023-01-01 06:00:00,LIDL - KOROŠKA C.,4,4/22
2,2023-01-01 06:00:00,KOROŠKA C. - KOROŠKI VETER,0,0/22
3,2023-01-01 06:00:00,GOSPOSVETSKA C. - VRBANSKA C.,12,12/22
4,2023-01-01 06:00:00,GOSPOSVETSKA C. - III. GIMNAZIJA,0,0/22
...,...,...,...,...
19720,2023-02-25 00:00:00,PARTIZANSKA C. - TIC,1,1/22
19721,2023-02-25 00:00:00,RAZLAGOVA UL. - OBČINA,20,20/22
19722,2023-02-25 00:00:00,PARTIZANSKA C. - CANKARJEVA UL,20,20/22
19723,2023-02-25 00:00:00,MLINSKA UL . - AVTOBUSNA POSTAJA,19,19/22
19724,2023-02-25 00:00:00,PARTIZANSKA C. - ŽELEZNIŠKA POSTAJA,1,1/22

In [20]:
df['date'] = pd.to_datetime(df['date'])

df["weekday"] = df['date'].dt.strftime('%A')

df

,date,station,zasedenost,weekday
0,2022-02-01 06:00:00,GOSPOSVETSKA C. - TURNERJEVA UL.,0,Tuesday
1,2022-02-01 06:00:00,LIDL - KOROŠKA C.,21,Tuesday
2,2022-02-01 06:00:00,KOROŠKA C. - KOROŠKI VETER,9,Tuesday
3,2022-02-01 06:00:00,GOSPOSVETSKA C. - VRBANSKA C.,10,Tuesday
4,2022-02-01 06:00:00,GOSPOSVETSKA C. - III. GIMNAZIJA,16,Tuesday
...,...,...,...,...
119800,2022-12-31 00:00:00,PARTIZANSKA C. - TIC,4,Saturday
119801,2022-12-31 00:00:00,RAZLAGOVA UL. - OBČINA,19,Saturday
119802,2022-12-31 00:00:00,PARTIZANSKA C. - CANKARJEVA UL,2,Saturday
119803,2022-12-31 00:00:00,MLINSKA UL . - AVTOBUSNA POSTAJA,14,Saturday
119804,2022-12-31 00:00:00,PARTIZANSKA C. - ŽELEZNIŠKA POSTAJA,15,Saturday

Empty DataFrame
Columns: [station, zasedenost, weekday, Tip_x, Tip_y, date, Tip]
Index: []

In [23]:
start_date = pd.to_datetime('2023-01-01')
end_date = pd.to_datetime('2023-02-25')
dates = pd.date_range(start=start_date, end=end_date, freq='D')

# Create a DataFrame with the dates as a single column
datumi = pd.DataFrame({'date': dates,
                       'Tip': "Weekday"
                       })


datumi['Tip'] = datumi['date'].dt.day_name().map({'Saturday': 'Weekend', 'Sunday': 'Weekend'}).fillna('Weekday')


holiday_dates = ['2023-01-01', '2023-01-02', '2023-02-08', '2023-04-27', '2023-05-01', '2023-05-02', '2023-06-08', 
                 '2023-06-25', '2023-08-17', '2023-09-15', '2023-09-23', '2023-10-25', '2023-11-01', '2023-11-23', '2023-12-26']
datumi.loc[datumi['date'].isin(holiday_dates), 'Tip'] = 'Holiday'

datumi

         date      Tip
0  2023-01-01  Holiday
1  2023-01-02  Holiday
2  2023-01-03  Weekday
3  2023-01-04  Weekday
4  2023-01-05  Weekday
..        ...      ...
51 2023-02-21  Weekday
52 2023-02-22  Weekday
53 2023-02-23  Weekday
54 2023-02-24  Weekday
55 2023-02-25  Weekend

[56 rows x 2 columns]

In [28]:
df = pd.merge(df, datumi, on='date')


df

Empty DataFrame
Columns: [station, zasedenost, weekday, Tip_x, Tip_y, date, Tip]
Index: []

In [24]:
weather = pd.read_excel("../podatki/weather/weather_1.1.2022-31.12.2022.xlsx", header=1, skiprows=[0, 1])

weather = weather.rename(columns={'time': 'date'})

weather.head(10)

,date,temperature_2m (°C),relativehumidity_2m (%),apparent_temperature (°C),precipitation (mm),weathercode (wmo code),cloudcover (%),windspeed_10m (km/h)
0,2022-01-01 00:00:00,2.7,91.0,0.1,0.0,0.0,2.0,4.4
1,2022-01-01 01:00:00,2.7,91.0,0.2,0.0,0.0,3.0,4.1
2,2022-01-01 02:00:00,2.8,90.0,0.2,0.0,0.0,1.0,4.7
3,2022-01-01 03:00:00,2.2,92.0,-0.5,0.0,0.0,7.0,4.9
4,2022-01-01 04:00:00,1.8,92.0,-0.9,0.0,0.0,5.0,4.0
5,2022-01-01 05:00:00,1.5,91.0,-1.1,0.0,0.0,9.0,3.8
6,2022-01-01 06:00:00,1.6,89.0,-1.3,0.0,0.0,11.0,4.8
7,2022-01-01 07:00:00,2.2,85.0,-0.8,0.0,1.0,39.0,5.7
8,2022-01-01 08:00:00,3.3,85.0,0.4,0.0,1.0,21.0,6.2
9,2022-01-01 09:00:00,5.6,88.0,3.5,0.0,1.0,35.0,4.2

In [25]:
zasedenost_df = pd.merge(df, weather, on='date')


zasedenost_df

,date,station,zasedenost,weekday,Tip,temperature_2m (°C),relativehumidity_2m (%),apparent_temperature (°C),precipitation (mm),weathercode (wmo code),cloudcover (%),windspeed_10m (km/h)
0,2022-02-01 06:00:00,GOSPOSVETSKA C. - TURNERJEVA UL.,0,Tuesday,NaN,-1.3,83.0,-4.9,0.0,1.0,45.0,6.1
1,2022-02-01 06:00:00,LIDL - KOROŠKA C.,21,Tuesday,NaN,-1.3,83.0,-4.9,0.0,1.0,45.0,6.1
2,2022-02-01 06:00:00,KOROŠKA C. - KOROŠKI VETER,9,Tuesday,NaN,-1.3,83.0,-4.9,0.0,1.0,45.0,6.1
3,2022-02-01 06:00:00,GOSPOSVETSKA C. - VRBANSKA C.,10,Tuesday,NaN,-1.3,83.0,-4.9,0.0,1.0,45.0,6.1
4,2022-02-01 06:00:00,GOSPOSVETSKA C. - III. GIMNAZIJA,16,Tuesday,NaN,-1.3,83.0,-4.9,0.0,1.0,45.0,6.1
...,...,...,...,...,...,...,...,...,...,...,...,...
119800,2022-12-31 00:00:00,PARTIZANSKA C. - TIC,4,Saturday,NaN,6.7,94.0,3.9,0.0,1.0,33.0,11.7
119801,2022-12-31 00:00:00,RAZLAGOVA UL. - OBČINA,19,Saturday,NaN,6.7,94.0,3.9,0.0,1.0,33.0,11.7
119802,2022-12-31 00:00:00,PARTIZANSKA C. - CANKARJEVA UL,2,Saturday,NaN,6.7,94.0,3.9,0.0,1.0,33.0,11.7
119803,2022-12-31 00:00:00,MLINSKA UL . - AVTOBUSNA POSTAJA,14,Saturday,NaN,6.7,94.0,3.9,0.0,1.0,33.0,11.7
119804,2022-12-31 00:00:00,PARTIZANSKA C. - ŽELEZNIŠKA POSTAJA,15,Saturday,NaN,6.7,94.0,3.9,0.0,1.0,33.0,11.7

In [26]:

zasedenost_df['date'] = zasedenost_df["date"].astype(str)


zasedenost_df.to_json('zasednost_weather.json', orient='records',  force_ascii=False,)

In [3]:
import pandas as pd
data = pd.read_csv('hour.csv')
data
# https://www.kaggle.com/datasets/imakash3011/rental-bike-sharing?resource=download

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49